<template>
  <main class="content container">
    <div class="content__top">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="index.html">
            Каталог
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="cart.html">
            Корзина
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">
            Оформление заказа
          </a>
        </li>
      </ul>

      <h1 class="content__title">
        Корзина
      </h1>
      <span class="content__info">
        товаров {{ $store.state.cartProducts.length }}
      </span>
    </div>

    <section class="cart">
      <form class="cart__form form" action="#" method="POST" @submit.prevent="order">
        <div class="cart__field">
          <div class="cart__data">
            <BaseFormText v-model="formData.name" id="name" :error="formError.name"
                          title="ФИО" placeholder="Введите ваше полное имя"/>
            <BaseFormText v-model="formData.address" id="address" :error="formError.address"
                          title="Адрес доставки" placeholder="Введите ваш адрес"/>
            <BaseFormText v-model="formData.phone" id="phone" :error="formError.phone"
                          title="Телефон" placeholder="Введите ваш телефон"/>
            <BaseFormText v-model="formData.email" id="email" :error="formError.email"
                          title="Email" placeholder="Введите ваш Email"/>
            <BaseFormTextArea title="Комментарий к заказу" v-model="formData.comment" id="comment"
                              :error="formError.comment" placeholder="Ваши пожелания"/>
          </div>

          <div class="cart__options">
            <h3 class="cart__title">Доставка</h3>
            <ul class="cart__options options">
              <li class="options__item">
                <label for="delivery1" class="options__label">
                  <input id="delivery1" class="options__radio sr-only"
                         type="radio" name="delivery" value="0" checked="">
                  <span class="options__value">
                    Самовывоз <b>бесплатно</b>
                  </span>
                </label>
              </li>
              <li class="options__item">
                <label for="delivery2" class="options__label">
                  <input id="delivery2" class="options__radio sr-only"
                         type="radio" name="delivery" value="500">
                  <span class="options__value">
                    Курьером <b>500 ₽</b>
                  </span>
                </label>
              </li>
            </ul>

            <h3 class="cart__title">Оплата</h3>
            <ul class="cart__options options">
              <li class="options__item">
                <label for="pay1" class="options__label">
                  <input id="pay1" class="options__radio sr-only"
                         type="radio" name="pay" value="card">
                  <span class="options__value">
                    Картой при получении
                  </span>
                </label>
              </li>
              <li class="options__item">
                <label for="pay1" class="options__label">
                  <input class="options__radio sr-only" id="pay1"
                         type="radio" name="pay" value="cash">
                  <span class="options__value">
                    Наличными при получении
                  </span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <CartOrder/>
        <img src="img/preloader.gif" v-if="orderLoading" alt="Прелоадер" width="100px">
        <div class="cart__error form__error-block" v-if="formErrorMessage">
          <h4>Заявка не отправлена!</h4>
          <p>
            {{ formErrorMessage }}
          </p>
        </div>
      </form>
    </section>
  </main>
</template>

<script>
import BaseFormText from '@/components/BaseFormText.vue';
import BaseFormTextArea from '@/components/BaseFormTextArea.vue';
import CartOrder from '@/components/CartOrder.vue';
import axios from 'axios';
import { API_BASE_URL } from '@/config';

export default {
  components: {
    BaseFormText,
    BaseFormTextArea,
    CartOrder,
  },
  data() {
    return {
      formData: {},
      formError: {},
      formErrorMessage: '',
      orderLoading: false,
    };
  },
  methods: {
    order() {
      this.formError = {};
      this.formErrorMessage = '';
      this.orderLoading = true;
      axios.post(
        `${API_BASE_URL}/api/orders`,
        {
          ...this.formData,
        },
        {
          params: {
            userAccessKey: this.$store.state.userAccessKey,
          },
        },
      )
        .then((response) => {
          this.$store.commit('resetCart');
          this.$store.commit('updateOrderInfo', response.data);
          this.orderLoading = false;
          this.$router.push({ name: 'orderInfo', params: { id: response.data.id } });
        })
        .catch((error) => {
          this.formError = error.response.data.error.request || {};
          this.formErrorMessage = error.response.data.error.message;
          this.orderLoading = false;
        });
    },
  },
};
</script>
