<template>
  <BaseFormField :title="title" :error="error" :id="id">
    <!--  eslint-disable-next-line-->
    <textarea class="form__input form__input--area" :id="id" v-model="dataValue"
              :placeholder="placeholder"></textarea>
  </BaseFormField>
</template>

<script>
import formFieldMixin from '@/mixins/formFieldMixin';
import BaseFormField from '@/components/BaseFormField.vue';

export default {
  components: { BaseFormField },
  mixins: [formFieldMixin],
};
</script>
