<template>
  <div class="form__counter">
    <button type="button" aria-label="Убрать один товар" @click.prevent="decrease(count)">
      <svg width="12" height="12" fill="currentColor">
        <use xlink:href="#icon-minus"></use>
      </svg>
    </button>
    <label :for="'form_counter_' + id">
      <input :id="'form_counter_' + id"
             type="text"
             :value="count"
      >
    </label>
    <button type="button" aria-label="Добавить один товар" @click.prevent="increase(count)">
      <svg width="12" height="12" fill="currentColor">
        <use xlink:href="#icon-plus"></use>
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'count',
    event: 'changeCount',
  },
  props: ['count', 'id'],
  methods: {
    increase(count) {
      this.$emit('changeCount', count + 1);
    },
    decrease(count) {
      this.$emit('changeCount', count - 1);
    },
  },
};
</script>
