<template>
  <BaseFormField :title="title" :error="error" :id="id">
    <!--  eslint-disable-next-line-->
    <input class="form__input" v-model="dataValue" :id="id" :type="type" :placeholder="placeholder">
  </BaseFormField>
</template>
<script>
import formFieldMixin from '@/mixins/formFieldMixin';
import BaseFormField from '@/components/BaseFormField.vue';

export default {
  props: {
    type: {
      default: 'text',
    },
  },
  components: { BaseFormField },
  mixins: [formFieldMixin],
};
</script>
