<template>
  <div class="cart__block">
    <ul class="cart__orders">
      <CartOrderItem v-for="item in products" :key="item.productId" :item="item"/>
    </ul>

    <div class="cart__total">
      <p>Доставка: <b>500 ₽</b></p>
      <p>Итого: <b>{{ $store.state.cartProducts.length }}</b>
        товара на сумму <b>{{ totalPrice | numberFormat }} ₽</b></p>
    </div>

    <button class="cart__button button button--primery" type="submit">
      Оформить заказ
    </button>
  </div>
</template>

<script>
import numberFormat from '@/helpers/numberFormat';
import { mapGetters } from 'vuex';
import CartOrderItem from '@/components/CartOrderItem.vue';

export default {
  components: { CartOrderItem },
  filters: { numberFormat },
  computed: {
    ...mapGetters({ products: 'cartDetailProducts', totalPrice: 'cartTotalPrice' }),
  },
};
</script>
