<template>
  <li class="cart__order">
    <h3>{{ item.product.product.title }}</h3>
    <b>{{ item.amount * item.product.product.price | numberFormat }} ₽</b>
    <span>Артикул: {{ item.product.product.id }}</span>
  </li>
</template>

<script>
import numberFormat from '@/helpers/numberFormat';

export default {
  filters: { numberFormat },
  props: ['item'],
};
</script>
