<template>
  <li class="catalog__item">
  <div>
    <router-link class="catalog__pic" href="#"
       :to="{name: 'product', params: {id: product.id}}">
      <img :src="product.image" :alt=" product.title">
    </router-link>
    <h3 class="catalog__title">
      <router-link  href="#" :to="{name: 'product', params: {id: product.id}}">
        {{ product.title }}
      </router-link >
    </h3>
    <span class="catalog__price">
          {{ product.price | numberFormat }} ₽
        </span>
    <ul class="colors colors--black">
      <li class="colors__item" v-for="itemColor in product.colors"
          :key="'color_' + product.id + '_' + itemColor.id">
        <label class="colors__label" :for="'color_' + product.id + '_' + itemColor.id">
          <input class="colors__radio sr-only" type="radio"
                 :id="'color_' + product.id + '_' + itemColor.id" :value="itemColor.id"
                 v-model="color">
          <span class="colors__value" :style="'background-color: ' + itemColor.code + ';'">
          </span>
        </label>
      </li>
    </ul>
  </div>
  </li>
</template>

<script>
import gotoPage from '@/helpers/gotoPage';
import numberFormat from '@/helpers/numberFormat';

export default {
  data() {
    return {
      color: '#73B6EA',
    };
  },
  methods: {
    gotoPage,
  },
  props: ['product'],
  filters: {
    numberFormat,
  },
};
</script>
