<template>
  <aside class="filter">
    <h2 class="filter__title">Фильтры</h2>

    <form class="filter__form form" action="#" method="get" @submit.prevent="submit">
      <fieldset class="form__block">
        <legend class="form__legend">Цена</legend>
        <label class="form__label form__label--price" for="priceFrom">
          <input class="form__input" type="text" id="priceFrom" value="0"
                 v-model.number="currentPriceFrom">
          <span class="form__value">От</span>
        </label>
        <label class="form__label form__label--price" for="priceTo">
          <input class="form__input" type="text" id="priceTo" value="12345"
                 v-model.number="currentPriceTo">
          <span class="form__value">До</span>
        </label>
      </fieldset>

      <fieldset class="form__block">
        <legend class="form__legend">Категория</legend>
        <label class="form__label form__label--select" for="category_select">
          <select class="form__select" type="text" name="category" id="category_select"
                  v-model.number="currentCategoryId">
            <option value="0">Все категории</option>
            <option :value="category.id" v-for="category in categories" :key="category.id">
              {{ category.title }}
            </option>
          </select>
        </label>
      </fieldset>

      <fieldset class="form__block">
        <legend class="form__legend">Цвет</legend>
        <ul class="colors">
          <li class="colors__item" v-for="colorObj in colors" :key="'filter_color' + colorObj.id">
            <label class="colors__label" :for="'filter_color' + colorObj.id">
              <input class="colors__radio sr-only"
                     type="radio"
                     :id="'filter_color' + colorObj.id"
                     name="color"
                     :value="colorObj.id"
                     v-model.number="currentColorId"
              >
              <span class="colors__value" :style="'background-color: ' + colorObj.code + ';'">
                        </span>
            </label>
          </li>
        </ul>
      </fieldset>

<!--      <fieldset class="form__block">-->
<!--        <legend class="form__legend">Объемб в ГБ</legend>-->
<!--        <ul class="check-list">-->
<!--          <li class="check-list__item">-->
<!--            <label class="check-list__label">-->
<!--             <input class="check-list__check sr-only" type="checkbox" name="volume" value="8"-->
<!--                     checked="">-->
<!--              <span class="check-list__desc">-->
<!--                          8-->
<!--                          <span>(313)</span>-->
<!--                        </span>-->
<!--            </label>-->
<!--          </li>-->
<!--          <li class="check-list__item">-->
<!--            <label class="check-list__label">-->
<!--          <input class="check-list__check sr-only" type="checkbox" name="volume" value="16">-->
<!--              <span class="check-list__desc">-->
<!--                          16-->
<!--                          <span>(461)</span>-->
<!--                        </span>-->
<!--            </label>-->
<!--          </li>-->
<!--          <li class="check-list__item">-->
<!--            <label class="check-list__label">-->
<!--           <input class="check-list__check sr-only" type="checkbox" name="volume" value="32">-->
<!--              <span class="check-list__desc">-->
<!--                          32-->
<!--                          <span>(313)</span>-->
<!--                        </span>-->
<!--            </label>-->
<!--          </li>-->
<!--          <li class="check-list__item">-->
<!--            <label class="check-list__label">-->
<!--           <input class="check-list__check sr-only" type="checkbox" name="volume" value="64">-->
<!--              <span class="check-list__desc">-->
<!--                          64-->
<!--                          <span>(313)</span>-->
<!--                        </span>-->
<!--            </label>-->
<!--          </li>-->
<!--          <li class="check-list__item">-->
<!--            <label class="check-list__label">-->
<!--          <input class="check-list__check sr-only" type="checkbox" name="volume" value="128">-->
<!--              <span class="check-list__desc">-->
<!--                          128-->
<!--                          <span>(313)</span>-->
<!--                        </span>-->
<!--            </label>-->
<!--          </li>-->
<!--          <li class="check-list__item">-->
<!--            <label class="check-list__label">-->
<!--          <input class="check-list__check sr-only" type="checkbox" name="volume" value="264">-->
<!--              <span class="check-list__desc">-->
<!--                          264-->
<!--                          <span>(313)</span>-->
<!--                        </span>-->
<!--            </label>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </fieldset>-->

      <button class="filter__submit button button--primery" type="submit">
        Применить
      </button>
      <button class="filter__reset button button--second" type="button" @click.prevent="reset">
        Сбросить
      </button>
    </form>
  </aside>
</template>

<script>
import axios from 'axios';
import { API_BASE_URL } from '@/config';

export default {
  data() {
    return {
      currentPriceFrom: 0,
      currentPriceTo: 0,
      currentCategoryId: 0,
      currentColorId: 0,
      categoriesData: null,
      colorData: null,
    };
  },
  props: ['priceFrom', 'priceTo', 'categoryId', 'colorId'],
  computed: {
    categories() {
      return this.categoriesData ? this.categoriesData.items : [];
    },
    colors() {
      return this.colorData ? this.colorData.items : [];
    },
  },
  watch: {
    priceFrom(value) {
      this.currentPriceFrom = value;
    },
    priceTo(value) {
      this.currentPriceTo = value;
    },
    categoryId(value) {
      this.currentCategoryId = value;
    },
    colorId(value) {
      this.currentColorId = value;
    },
  },
  methods: {
    submit() {
      this.$emit('update:priceFrom', this.currentPriceFrom);
      this.$emit('update:priceTo', this.currentPriceTo);
      this.$emit('update:categoryId', this.currentCategoryId);
      this.$emit('update:colorId', this.currentColorId);
    },
    reset() {
      this.$emit('update:priceFrom', 0);
      this.$emit('update:priceTo', 0);
      this.$emit('update:categoryId', 0);
      this.$emit('update:colorId', 0);
    },
    loadCategories() {
      axios.get(`${API_BASE_URL}/api/productCategories`)
        // eslint-disable-next-line no-return-assign
        .then((response) => this.categoriesData = response.data);
    },
    loadColors() {
      axios.get(`${API_BASE_URL}/api/colors`)
        // eslint-disable-next-line no-return-assign
        .then((response) => this.colorData = response.data);
    },
  },
  created() {
    this.loadCategories();
    this.loadColors();
  },
};
</script>
